<!-- Header -->
                <section id="header">
                <header>
                    <h1>Sleephacker</h1>
                    <p>Introducing a whole new way to think about sleep for today's generation.<br/>
                A sophisticated yet user friendly schedule for those trying to adapt to a polyphasic sleep cycle.</p>
                </header>
                <footer>
                    <a href="#banner" class="button style2 scrolly scrolly-centered">Sleep with a Purpose</a>
                </footer>
            </section>
        
        <!-- Banner -->
            <section id="banner">
                <header>
                    <h2>This is Sleep</h2>
                </header>
                <p>The monophasic sleep schedule is the most common schedule in the world. It consists of sleeping in one elongated session.
                Polyphasic sleep means sleeping in multiple sessions throughout the day, and can save time and cut tiredness. We take the knowledge and power of this type of sleep to bring you a way to incorporate it into your life through a nimble scheduler.</p>
                <footer>
                    <a href="#infoBox" class="button style2 scrolly">Learn more about different polyphasic schedules</a>
                    <a href="http://sleephack.me/app" class="button style2">Schedule your sleep pattern using our app</a>
                </footer>
            </section>

            <article id="infoBox" class="container box style2">
                <header>
                    <h3>The benefits of polyphasic sleep include:
                            Saving time
                            Feeling more awake
                            Getting more restful sleep in a smaller period of time
                    </h3>
                </header>
                <header>
                    <h2>Pick a polyphasic schedule</h2>
                    <select onchange="window.location.href=this.value">
                        <option></option>
                        <option value="#first">Segmented Sleep</option>
                        <option value="#second">Siesta Sleep</option>
                        <option value="#third">Triphasic Sleep</option>
                        <option value="#fourth">Everyman Sleep</option>
                        <option value="#fifth">Dual Core Sleep</option>
                        <option value="#sixth">Uberman Sleep</option>
                        <option value="#seventh">Dymaxion Sleep</option>
                        <option value="#eighth">SPAMAYL</option>
                    </select>
                </header>
                <footer>
                    <a href="http://sleephack.me/app" id="button2" class="button style2">Ready to schedule your sleep?</a>
                </footer>
            </article>

        
        <!-- Feature 1 -->
            <article id="first" class="container box style1">
                
                <div class="inner">
                    <header>
                        <h2>Biphasic: Segmented Sleep</h2>
                    </header>
                    <p>Segmented sleep is considered the most natural sleeping pattern. It consists of two sleeps, both at night time. For more info, click <a href="http://www.polyphasicsociety.com/polyphasic-sleep/overviews/segmented-sleep/">here</a>.</p>
                </div>
                <br>
                <div style="text-align:center">
                <class="image fit"><img src="http://i.imgur.com/7ju4T.png" alt="" /></a> </div>
                <div style="text-align:right">
                <a href="#infoBox"><img src="http://i437.photobucket.com/albums/qq95/shortstack96/up.gif"></a></div>
            </article>
        
        <!-- Feature 2 -->
            <article id="second" class="container box style1">
                
                <div class="inner">
                    <header>
                        <h2>Biphasic: Siesta Sleep</h2>
                    </header>
                    <p>The siesta schedule consists of 5-6 hours of sleep at night and a 20 to 90 minute nap in the early afternoon. This form of sleep is commonly known by scientists to be healthier than monophasic sleep. For more info, click <a href="http://www.polyphasicsociety.com/polyphasic-sleep/overviews/siesta/">here</a>.</p>
                </div>
                <br>
                <div style="text-align:center">
                <class="image fit"><img src="http://i.imgur.com/wwqaD.png" alt="" /></a></div>
                <div style="text-align:right">
                <a href="#infoBox"><img src="http://i437.photobucket.com/albums/qq95/shortstack96/up.gif"></a></div>
            </article>

            <article id="third" class="container box style1">
                <div class="inner">
                    <header>
                        <h2>Triphasic Sleep</h2>
                    </header>
                    <p>Triphasic is an efficient and simple schedule. There is little adaptation involved in a change from monophasic sleep to this schedule. A Triphasic sleeper typically sleeps between 4 and 5 hours a day. For more info, click <a href="http://www.polyphasicsociety.com/polyphasic-sleep/overviews/triphasic/">here</a>.</p>
                </div>
                <br>
                <div style="text-align:center">
                <class="image fit"><img src="http://i.imgur.com/Bn9ee.png" alt="" /></a> 
                </div>
                <div style="text-align:right">
                <a href="#infoBox"><img src="http://i437.photobucket.com/albums/qq95/shortstack96/up.gif"></a></div>
            </article>

            <article id="fourth" class="container box style1">
                <div class="inner">
                    <header>
                        <h2>Everyman Sleep</h2>
                    </header>
                    <p>The Everyman schedule is the most successful reduced-sleep schedule to date. Everyman schedules have a significantly more difficult adaptation period than all of the previous schedules. For more info, click <a href="http://www.polyphasicsociety.com/polyphasic-sleep/overviews/everyman/">here</a>.</p>
                </div>
                <br>
                <div style="text-align:center">
                <class="image fit"><img src="http://i.imgur.com/Pz1Dw.png" alt="" /></a>
                </div>
                <div style="text-align:right">
                <a href="#infoBox"><img src="http://i437.photobucket.com/albums/qq95/shortstack96/up.gif"></a></div>
            </article>  

            <article id="fifth" class="container box style1">
                <div class="inner">
                    <header>
                        <h2>Dual Core Sleep</h2>
                    </header>
                    <p>Dual Core sleep is a derivative of the other schedules. Dual core schedules can have the benefits of both segmented sleep and siestas and so is theoretically very healthy. For more info, click <a href="http://www.polyphasicsociety.com/polyphasic-sleep/overviews/dual-core/">here</a>.</p>
                </div>
                <br>
                <div style="text-align:center">
                <class="image fit"><img src="http://i.imgur.com/zbICA.png" alt="" /></a>
                </div>
                <div style="text-align:right">
                <a href="#infoBox"><img src="http://i437.photobucket.com/albums/qq95/shortstack96/up.gif"></a></div>
            </article>      

            <article id="sixth" class="container box style1">
                <div class="inner">
                    <header>
                        <h2>Uberman Sleep</h2>
                    </header>
                    <p>Uberman is the most commonly attempted, and most failed of polyphasic schedules. This is largely due to a misunderstanding of the difficulties associated with its adaptation period. Uberman is the most well known nap only schedule. For more info, click <a href="http://www.polyphasicsociety.com/polyphasic-sleep/overviews/uberman-2/">here</a>.</p>
                </div>
                <br>
                <div style="text-align:center">
                <class="image fit"><img src="http://i.imgur.com/IGvSf.png" alt="" /></a>
                </div>
                <div style="text-align:right">
                <a href="#infoBox"><img src="http://i437.photobucket.com/albums/qq95/shortstack96/up.gif"></a></div>
            </article>  

            <article id="seventh" class="container box style1">
                <div class="inner">
                    <header>
                        <h2>Dymaxion Sleep</h2>
                    </header>
                    <p>Dymaxion is another popularly attempted schedule. The Dymaxion schedule involves sleeping 4 times a day for 30 minutes. For more info, click <a href="http://www.polyphasicsociety.com/polyphasic-sleep/overviews/dymaxion/">here</a>.</p>
                </div>
                <br>
                <div style="text-align:center">
                <class="image fit"><img src="http://i.imgur.com/lmReU.png" alt="" /></a>
                </div>
                <div style="text-align:right">
                <a href="#infoBox"><img src="http://i437.photobucket.com/albums/qq95/shortstack96/up.gif"></a></div>
            </article>  

            <article id="eigth" class="container box style1">
                <div class="inner">
                    <header>
                        <h2>SPAMAYL Sleep</h2>
                    </header>
                    <p>SPAMAYL is the younger, fresher cousin of Uberman. SPAMAYL stands for Sleep Polyphasically As Much As You Like. SPAMAYL is more flexible than Uberman. For more info, click <a href="http://www.polyphasicsociety.com/polyphasic-sleep/overviews/uberman/">here</a>.</p>
                </div>
                <br>
                <div style="text-align:center">
                <class="image fit"><img src="http://i.imgur.com/YbG5a.png" alt="" /></a>
                </div>
                <div style="text-align:right">
                <a href="#infoBox"><img src="http://i437.photobucket.com/albums/qq95/shortstack96/up.gif"></a></div>
            </article>  
        
        
        <!-- Contact -->
            <article class="container box style3">
                <header>
                    <h2>The Next Step</h2>
                    <p>Any feedback would be appreciated.</p>
                </header>
                <form method="post" action="#">
                    <div class="row half">
                        <div class="6u"><input type="text" class="text" name="name" placeholder="Name" /></div>
                        <div class="6u"><input type="text" class="text" name="email" placeholder="Email" /></div>
                    </div>
                    <div class="row half">
                        <div class="12u">
                            <textarea name="message" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="12u">
                            <ul class="actions">
                                <li><input type="submit" value="Send Message" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </article>
        
        
        <section id="footer">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
                <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                <li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
            </ul>
            <div class="copyright">
                <ul class="menu">
                    <li>&copy; Sleephacker. All rights reserved.</li>
                </ul>
            </div>
        </section>